<h1 mat-dialog-title>Select New Shift</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="shift-select-field">
    <mat-label>Shift</mat-label>
    <mat-select [(ngModel)]="selectedShiftCode">
      <mat-option *ngFor="let shift of shifts$ | async" [value]="shift.shiftCode">
        {{ shift.shiftCode }} ({{ shift.startTime }} - {{ shift.endTime }})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!selectedShiftCode">Save</button>
</div>